/*------------כללי לכולם-----------*/
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

.App {
  text-align: center;
  font-family: 'Open Sans Hebrew';
}

.App-header {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #420000;
  background-image: url(images/landscape.png);
}

h2{
  font-weight: 300;
}

.headdingGame {
  padding: 1px;
  background-repeat: repeat-x;
  background-size: 200px;
  background-position: bottom;
  height: 95px;
  background-color: #a8dde0;
}

div.boardDiv div > button{
  position: relative;
  width: 60px;
  height: 80px;
  margin: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff00;
  display: inline;
  font-size: 2.5em;
  text-align: center;
  padding: 2px;
  z-index: 2;
}

.boardDiv {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 28px 10px;
  margin-top: -3px;
  background-image: url(images/landscape-152502.svg);
  height: -webkit-fill-available;
}

div.boardDiv div > button.closedCard {
  text-indent: -9999px;
  background-image: url(images/backCard.png);
}

div.boardDiv div > button.lockedCard {
  background-image: none;
  visibility: hidden;
}

.cardsRow{
  display: inline-flex;
}

button.openCard {
  background-image: url(images/backCardEmpty.png);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: small;
  list-style-type: none;
  margin-right: 45px;
  font-weight: lighter;
}

.restartBtn{
  position: absolute;
  top: 40%;
  border-color: #ffeeba;
  background-color: #420000;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin-left: -77px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.restartBtn:hover{
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.restartBtn:active{
  box-shadow: none;
  transform: translateY(0);
}

.defaultBtn{
  border-color: #ffeeba;
  background-color: #420000;
  color: white;
  border-radius: 20px;
  width: 150px;
  height: 30px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.defaultBtn:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.defaultBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

img.playersPic {
  /*width: 194px;
  margin-bottom: -52px;
  position: absolute;
  top: 45px;
  margin-left: -334px;*/
  width: 886px;
  position: absolute;
  margin-top: -690px;
  left: -265px;
  z-index: 0;
}

img.playersPic2 {
  /*width: 88px;
  position: absolute;
  top: 75px;
  margin-left: 213px;*/
  width: 391px;
  position: absolute;
  margin-top: -548px;
  right: -17px;
  z-index: 0;
}


img#raccoonPic {
  width: 131px;
  position: absolute;
  left: 0px;
  top: 10px;
}

.headdingGame h1 {
  color: #430507;
}

img#foxPic {
  width: 139px;
  position: absolute;
  right: 0px;
  top: 7px;
} 

@media only screen and (max-width: 1300px) {
  img.playersPic {
    width: 676px;
    margin-top: -606px;
    left: -189px;
  }
  img.playersPic2 {
    width: 300px;
    margin-top: -490px;
    right: -13px;
  }
}

@media only screen and (max-width: 1150px) {
  img.playersPic {
    width: 569px;
    margin-top: -555px;
    left: -166px;
  }
  img.playersPic2 {
    width: 251px;
    margin-top: -458px;
    right: -13px;
  }
}
@media only screen and (max-width: 1000px) {
  img#raccoonPic {
    width: 131px;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  
  img#foxPic {
    width: 139px;
    position: absolute;
    right: 0px;
    top: 7px;
  } 
  h1.App-title {
    font-size: x-large;
  }

  .App-header p {
    font-size: small;
  }
}

@media only screen and (max-width: 800px) {
  h1 { font-size: larger; }
  
  div.boardDiv div > button {
    position: relative;
    width: 45px;
    height: 60px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }

  img.playersPic {
    width: 119px;
    position: absolute;
    top: 23px;
    margin-left: -241px;
    left: unset;
    margin-top: unset;
  }

  img.playersPic2 {
    width: 54px;
    position: absolute;
    top: 39px;
    margin-left: 164px;
    right: unset;
    margin-top: unset;
  }

  p { font-size: small; }

  .headdingGame {
    padding: 1px;
    background-size: 200px;
    background-position: bottom;
    height: 56px;
  }

}

@media only screen and (max-width: 630px) {
  div.boardDiv div > button {
    position: relative;
    width: 37px;
    height: 50px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }

  img.playersPic {
    width: 90px;
    position: absolute;
    top: 33px;
    margin-left: -200px;
  }

  img.playersPic2 {
    width: 43px;
    position: absolute;
    top: 46px;
    margin-left: 138px;
  }

  img#raccoonPic {
    width: 69px;
    position: absolute;
    left: 0px;
    top: 10px;
  }
  
  img#foxPic {
    width: 70px;
    position: absolute;
    right: 0px;
    top: 7px;
  }

  h1.App-title {
    font-size: large;
  }

  .App-header p {
    font-size: xx-small;
  }
}

@media only screen and (max-width: 530px){
  div.boardDiv div > button {  
    position: relative;
    width: 30px;
    height: 40px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: large;
  }

  img.playersPic {
    width: 90px;
    position: absolute;
    top: 33px;
    margin-left: -173px;
  }

  img.playersPic2 {
    width: 43px;
    margin-left: 100px;
  }
}


@media only screen and (max-width: 430px){
  h1 { font-size: small; }

  p { font-size: x-small; }

  div.boardDiv div > button {  
    position: relative;
    width: 32px;
    height: 43px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }

  img.playersPic {
    width: 80px;
    position: absolute;
    top: 18px;
    margin-left: -141px;
  }

  img.playersPic2 {
    width: 38px;
    position: absolute;
    top: 29px;
    margin-left: 80px;
  }
  .headdingGame {
    height: 39px;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
