.App {
  text-align: center;
}

.App-header {
  background-color: #420000;
  height: 90px;
  padding: 20px;
  color: white;
}

div.boardDiv div > button{
  position: relative;
  width: 60px;
  height: 80px;
  margin: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff00;
  display: inline;
  font-size: -webkit-xxx-large;
  text-align: center;
  padding: 2px;
}

.boardDiv {
  background-color: darkgreen;
}

div.boardDiv div > button.closedCard {
  text-indent: -9999px;
  background-image: url(images/backCard.png);
}

div.boardDiv div > button.lockedCard {
  background-image: none;
  visibility: hidden;
}

.cardsRow{
  display: inline-flex;
}

button.openCard {
  background-image: url(images/backCardEmpty.png);
  /*font-size: 63pt;
  padding-bottom: 70px;*/
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: small;
  list-style-type: none;
}

@media only screen and (max-width: 420px) {
  div.boardDiv div > button {
    position: relative;
    width: 37px;
    height: 50px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }
}

@media only screen and (max-width: 320px){
  div.boardDiv div > button {  
    position: relative;
    width: 30px;
    height: 40px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: large;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
