.App {
  text-align: center;
}

.App-header {
  background-color: #420000;
  height: 20%;
  padding: 20px;
  color: white;
}

div.boardDiv div > button{
  position: relative;
  width: 60px;
  height: 80px;
  margin: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  background-color: #ffffff00;
  display: inline;
  font-size: -webkit-xxx-large;
  text-align: center;
  padding: 2px;
}

.boardDiv {
  background-color: darkgreen;
}

div.boardDiv div > button.closedCard {
  text-indent: -9999px;
  background-image: url(images/backCard.png);
}

div.boardDiv div > button.lockedCard {
  background-image: none;
  visibility: hidden;
}

.cardsRow{
  display: inline-flex;
  background-color: darkgreen;
}

button.openCard {
  background-image: url(images/backCardEmpty.png);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: small;
  list-style-type: none;
  margin-right: 45px;
}

.restartBtn{
  position: absolute;
  top: 40%;
  border-color: #ffeeba;
  background-color: #ffffff;
  color: #420000;
  border-radius: 20px;
  width: 150px;
  margin-left: -77px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.restartBtn:hover{
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.restartBtn:active{
  box-shadow: none;
  transform: translateY(0);
}

.defaultBtn{
  border-color: #ffeeba;
  background-color: #420000;
  color: white;
  border-radius: 20px;
  width: 150px;
  margin: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.2s ease-in-out;
}

.defaultBtn:hover {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.defaultBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

img.playersPic {
  width: 125px;
  margin-bottom: -52px;
  position: absolute;
  top: 21px;
  margin-left: -296px;
}

img.playersPic2 {
  width: 54px;
  margin-bottom: -17px;
  position: absolute;
  top: 50px;
  margin-left: 213px;
}


img#raccoonPic {
  width: 128px;
  position: absolute;
  left: 0px;
  top: 10px;
  visibility: 0.5;
}

img#foxPic {
  width: 133px;
  position: absolute;
  right: 8px;
  top: 10px;
}

@media only screen and (max-width: 2000px) {
  img#raccoonPic {
    width: 128px;
    position: absolute;
    left: 0px;
    top: 10px;
    visibility: 0.5;
  }
  
  img#foxPic {
    width: 133px;
    position: absolute;
    right: 8px;
    top: 10px;
  }
}


@media only screen and (max-width: 1000px) {
  img#foxPic {
    width: 76px;
    position: absolute;
    right: 29px;
    top: 10px;
  }
    img#raccoonPic {
      width: 97px;
      position: absolute;
      left: 0px;
      top: 7px;
  }
}  


@media only screen and (max-width: 800px) {
  h1 { font-size: larger; }
  
  div.boardDiv div > button {
    position: relative;
    width: 45px;
    height: 60px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }

  img.playersPic {
    width: 80px;
    position: absolute;
    top: 17px;
    margin-left: -223px;
  }

  img.playersPic2 {
    width: 36px;
    position: absolute;
    top: 32px;
    margin-left: 164px;
  }

  p { font-size: small; }
}

@media only screen and (max-width: 630px) {
  div.boardDiv div > button {
    position: relative;
    width: 37px;
    height: 50px;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: x-large;
  }

  img.playersPic {
    width: 57px;
    position: absolute;
    top: 33px;
    margin-left: -180px;
  }

  img.playersPic2 {
    width: 28px;
    position: absolute;
    top: 42px;
    margin-left: 138px;
  }
}

@media only screen and (max-width: 530px){
  div.boardDiv div > button {  
    position: relative;
    width: 30px;
    height: 40px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: large;
  }

  img.playersPic {
    width: 57px;
    position: absolute;
    top: 33px;
    margin-left: -147px;
  }

  img.playersPic2 {
    width: 28px;
    position: absolute;
    top: 42px;
    margin-left: 107px;
  }
}


@media only screen and (max-width: 430px){
  h1 { font-size: small; }

  p { font-size: x-small; }

  div.boardDiv div > button {  
    position: relative;
    width: 24px;
    height: 32px;
    margin: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: #ffffff00;
    display: inline;
    font-size: large;
  }

  img.playersPic {
    width: 57px;
    position: absolute;
    top: 12px;
    margin-left: -124px;
  }

  img.playersPic2 {
    width: 29px;
    position: absolute;
    top: 20px;
    margin-left: 86px;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
